/* body */

body {
  background-color: white;
  font-family: AvenirNext, Avenir, Arial, sans-serif;
  color: #4c4c4c;
}

.form-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: relative;
  float: right;
  font-size: 14px;
}

.align {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  margin-top: 13px;
  margin-left: -100px;
  margin-right: 109px;
}

.list {
  list-style-type: none;
  margin-right: 5px;
  margin-top: 2px;
  text-align: right;
}

#sign-bttn {
  border: 1px solid #4c4c4c;
  border-radius: 4px;
  color: white;
  background: linear-gradient(#0077c5, #0242f0);
  font-weight: normal;
  font-size: 15px;
  padding: 8px 15px 8px;
  line-height: 2px;
  position: absolute;
  top: 22px;
  right: 18px;
  height: 30px;
  cursor: pointer;
}

#nav-text {
  line-height: 0;
  margin-right: 5px;
}

.align-text {
  margin-top: 5px;
}

/* form */

.container {
  text-align: center;
  margin-top: 100px;
}

#logo {
  width: 160px;
  height: 80px;
}

.container-down {
  text-align: center;
}

.icon-text {
  font-size: 20px;
  text-decoration: none;
  color: #4c4c4c;
  margin-right: 10px;
  margin-top: 3px;
}

.f {
  margin-top: 10px;
}

.down-text {
  text-align: center;
}

.create {
  color: #4c4c4c;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 2px;
}

.list-center {
  list-style-type: none;
  margin: 0;
  padding: 3px;
  overflow: hidden;
  display: inline-flex;
  text-align: center;
}

.form-top {
  background-color: white;
  padding: 5px;
  margin-right: 480px;
  margin-left: 480px;
  border: 1px solid #c6c7cc;
}

.form-bottom {
  background-color: #eceef1;
  padding: 5px;
  margin-right: 480px;
  margin-left: 480px;
  border: 1px solid #c6c7cc;
  font-size: 10px;
}

#form-text {
  font-size: 10px;
  color: #4c4c4c;
}

.links {
  text-decoration: none;
  color: #0077c5;
}

.form {
  margin-top: 15px;
  padding-bottom: 5px;
}

.text {
  color: #4c4c4c;
  padding: 6px;
}

.inside {
  text-align: left;
  margin-left: 0;
}

.input {
  width: 250px;
  height: 30px;
  margin-bottom: 12px;
  margin-top: 5px;
}

#submit {
  background: linear-gradient(#0077c5, #0242f0);
  width: 250px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.down {
  font-size: 14px;
}

/* Fotter */

.footer {
  text-align: center;
  margin: auto;
  margin-top: 30px;
  padding: 0 0 10px 0;
  width: 55%;
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
  text-decoration: none;
}

.corporight {
  color: #505050;
  text-decoration: none;
}

.privacy-bttn {
  position: fixed;
  bottom: 0;
  right: 70px;
  font-size: 14px;
  background-color: #6b6c72;
  color: whitesmoke;
  border-radius: 3px;
  padding: 0;
  cursor: pointer;
  width: 140px;
  height: 40px;
  align-items: center;
  text-align: center;
}
