body {
    background-color: #eceef1;
    float: center;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif
}


/* body */


/* navbar*/

.navbar {
    
    width: 100%;
    height: 120px;
    margin: 0px;
    text-decoration-color: rgba(80, 80, 80);
    font-size: 12px;
    padding: 0em;
}

#nav-text {
    text-align: right;
    width: 100%;
    margin: 0px -70px;
    padding: 5px;
    padding-right: 80px;
    
}

#forgot-link {
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: none;
    width: 100%;
    margin-left: 300px;
    padding-right: 30px;
    cursor: pointer;  
}

#sign-bottom {
    background-color: rgba(60, 60, 253, 0.801);
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    height: 30px;
    margin-left: 10px;
    margin-right: -20px;
    margin-top: 5px;
    padding: 8px 11px;
    overflow: none;
    
}

/* form*/

.container {
    text-align: center;
    margin-top: 50px;
}

#logo {
    width: 118px;
    height: 38px;
}

.container-down {
    text-align: center;
}

.icon {
    width: 75px;
    height: 20px;
    margin-right: 5px;
}

.list-center {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-flex;
}

.form-top {
    background-color: white;
    padding: 5px;
    margin-right: 475px;
    margin-left: 500px;
    border: 1px solid #c6c7cc;
}

.form-bottom {
    background-color: #ECEEF1;
    padding: 5px;
    margin-right: 475px;
    margin-left: 500px;
    border: 1px solid #c6c7cc;
    font-size: 10px;
}

#form-text {
    font-size: 10px;
    color: #4C4C4C;
}

.links {
    text-decoration: none;
    color: #0077C5;
}

.form {
    margin-top: 10px;
}

.text {
    color: #4C4C4C;
}

.inside {
    text-align: left;
    margin-left: 40px;
}

.input {
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
}

#create {
    background-color: #0077C5;
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
}

.down {
    font-size: 12px;
}

.footer {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    padding: 0 0 10px 0;
    width: 55%;
    font-size: 12px;
    line-height: 1.5;
    color: #505050;
    text-decoration: none;
}

.corporight {
    color: #505050;
    text-decoration: none;
}

.privacy-bttn {  
    font-size: 8px;
    background-color: #6B6C72;
    border-radius: 3px;
    margin: 0px;
    margin-bottom: 0px;
    padding: 0px;
    padding-bottom: 0px;
    cursor: pointer;
    width: 8.4%;
    margin-left: -5px;
    float: left;
}


